
.formClass{
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    padding: 3% !important;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman';
    background-color: white;
    // background-image: linear-gradient(#00ff4359,yellow);
}
input{
    border-radius: 7px;
}
.iconcls{
    font-size: 250%;
    margin-top: 10%;
    color: rgb(0, 11, 109);
}
.head{
    font-size: 120%;
    margin-left: 3%;
    color: #3f51b5;
}

.first{
    margin-top: 10%;
    color: #3f51b5;
}
.Basic{
    background-color: rgb(211, 216, 218);
    padding-right: 80%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
  
}
.Academic{
background-color: rgb(211, 216, 218);
padding-right: 77%;
padding-left: 1%;
padding-top: 1%;
padding-bottom: 1%
}
.fcls{
    align-items: center;
}
.submit{
   text-align: right;
   padding: 3%;
  
}